<div class="menu_cls">

    <div class="menu-item_cls" id="radio1">
        <img src="radio_icon.gif" alt="radio1 icon" width="50" (click)="onSelectApp('radio1')" />
    </div>

    <div class="menu-item_cls" id="radio2">
        <img src="radio2_icon.gif" alt="radio2 icon" width="50" (click)="onSelectApp('radio2')" />
    </div>

    <!--<div class="menu-item_cls" id="music">
        <img src="winamp_icon.png" alt="music icon" width="50" (click)="onSelectApp('music')" />
    </div>

    <div class="menu-item_cls" id="video">
        <img src="video_icon.png" alt="video icon" width="50" (click)="onSelectApp('video')" />
    </div>-->

</div>