* {
  font-family: Arial;
}

.container {
  display: grid;
  grid-template-areas: "header"
                       "album"
                       "list"
                       "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 3.5em 3.5em auto 3.5em;
  gap: 5px;
  background-color: black;
  height: 100vh;
  width: 100%;
}

.content-row {
  font-size: 200%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.list-item {
  color: black;
  text-align: center;
}

.header {
  grid-area: header;
  color: white;
  text-align: center;
}

.album-with-back-button {
  grid-area: album;
  display: grid;
  grid-template-areas: "back-button album";
  grid-template-columns: 60px auto;
  grid-template-rows: 1fr;
}

.back-button {
  grid-area: back-button;  
}

.album {
  grid-area: album;
  color: white;
  font-size: 200%;
  text-align: center;
}

.list {
  grid-area: list;
  overflow: auto;
}

.footer {
  grid-area: footer;
  color: white;
  text-align: center;
}