<div id="container" class="container">
  <div id="header" class="header content-row">{{title}}</div>

  <div id="albumWithBackButton" class="album-with-back-button">
    <div id="backButton" class="back-button">
      @if (showBackButton) {
        <img src="back.png" alt="back arrow" height="60" (click)="onClickBackButton()" />
      }
    </div>
    <div id="album" class="album">{{albumName}}</div>
  </div>

  <div id="list" class="list">
    @if (viewMode === ViewMode.VIEW_MODE_FOLDER) {
      @for (dirName of folderContents.directories; track dirName) {
        <div
          [id]="getRowId($index)"
          class="content-row list-item"
          [style.background-color]="getBackgroundColor($even)"
          (click)="onSelectSubdirectory(dirName)"
        >
          <p>{{dirName}}</p>
        </div>
      }
    }

    @if (viewMode === ViewMode.VIEW_MODE_PLAYBACK) {
      @for (fileName of folderContents.files; track fileName) {
        <div
          [id]="getRowId($index)"
          class="content-row list-item"
          [style.background-color]="getBackgroundColor($even)"
          (click)="onSelectPlayableFile(fileName)"
        >
          <p>{{fileName}}</p>
        </div>
      }
    }
  </div>

  <div id="footer" class="footer">
    @if (viewMode === ViewMode.VIEW_MODE_PLAYBACK) {
      <audio controls #audioElement style="width: 100%;"></audio>
    }
  </div>
</div>