main {
  height: 100%;
}

.container {
  display: grid;
  grid-template-areas:
    "menu content";
  grid-template-columns: 9vw 1fr;
  gap: 5px;
  background-color: black;
  padding: 5px;
  height: 100%;
}